<ul class="stack-1">
    {% for post in animations %}
        <li>
            <div class="{{ post.class }}">
                {{ post.html|raw }}
                <strong>{{ post.name }}:</strong></br>
                Duration: {{ post.duration }}</br>
                Easing: {{ post.easing }}</br>
                (Hover to see effect)
            </div>
        </li>
    {% endfor %}
</ul>